body{
    padding:0px;
    margin: 0px;
}
.container{
    max-width: 1000px;
    margin:0 auto;
}
.container>header{
    background-image: url('../image/banner2.jpg');
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 34%;
}
.container > nav{
    line-height:40px;
    background-color:orangered;
    color:white;
    text-align:center;
    font-variant:small-caps;
}
.container > article{
min-height:500px;
 width:78%;
 background-color:white;
 float:left;
}
.container > aside{
    min-height: 200px;
    width: 20%;
    background-color:gainsboro;
    float: right;
}
.container > footer{
    border-top:5px double orangered;
 line-height:50px;
 background-color:lightcyan;
 text-align:center;
 font-variant:small-caps;
 clear:both;
}
.container > nav > a{
    color:white;
 text-decoration:none;
 margin:0 10px;
}
.container > nav > a:hover{
    color: yellow;
    text-decoration: underline;
}
